a:link {
  color: orange;
}
a:visited {
  color: green;
}
a:hover {
  text-decoration-line: none;
}
div p:first-child{
  font-size: 150%;
}
div p:first-child::first-line{
  color: red;
}
th,td {
  display: inline-block;
  padding: 0 50px 0 0;
  font-size: 110%;
}
tr:nth-child(2n){ 
  color: white;
  background-color:#333;
}
