* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
body {
  background: url(top-image.png),linear-gradient(to bottom, rgb(204 201 199),transparent 7%);
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  background: url(top-image.png),linear-gradient(to bottom, rgb(204 201 199),transparent 8%),url(bottom-image.png),linear-gradient(to top, rgb(204 201 199), transparent 18%);
  background-repeat: no-repeat, no-repeat;
  background-position: top, 0, bottom;
  background-size: 100%;
  background-color: white;
  border-top: 1mm solid rgb(22 39 164);
  border-bottom: 1mm solid rgb(22 39 164);
}

h1 {
  background: url(logo.png);
  border-radius: 50%;
  box-shadow: 3px 3px 3px #263f47;
}
